/* Global Styles */
* {
  scroll-behavior: smooth;
}

:root {
  --primary-100: #892cdc;
  --primary-200: #bc6ff1;
  --primary-300: #fdf6fd;
  --accent-100: #d9acf5;
  --accent-200: #fff4ff;
  --text-100: #eeeeee;
  --text-200: #fdebed;
  --bg-100: #222831;
  --bg-200: #393e46;
  --bg-300: #454e59;
}
